@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


body{
background: #D5E1EF;
position: relative;
      width: 1440px;
      height: 800px;

}


.conteiner{
background: #ffffff;
      position: absolute;
      width: 320px;
      height: 497px;
      left: 560px;
      top: 152px;
      border-radius: 20px;
}
img{
      Radius: 10px;
      width: 288px;
      height: 288px;
      margin: 16px;
      border-radius: 20px;
      
}
.text1{
      
      font-family: 'Outfit', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 28px;
            text-align: center;
            color: #1F314F;
            padding-left: 16px;
            padding-right: 16px;
            margin-top: 0px;
      }
.text2{
Width: 256px;
 Height: 57px;
padding-right: 16px;

padding-left: 16px;
      

      /* Body */

      font-family: 'Outfit';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.1875px;

      /* Grey */

      color: #7D889E;

}
.rec1 {
      margin: 16px;
      margin-top: 24;
}